.teamname{
    color:rgb(210, 248, 243);
height: 10vh;
justify-content: center;
font-weight: unset;
text-align : center;
width:35vw;
margin-left:32.5vw;
 display:flex;
 align-items:center;
border: 1px solid rgb(0, 0, 0);
border-radius:10px;
box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.rank{
    border: 1px solid rgb(0, 0, 0);
border-radius:10px; 
text-align: center;
font-size: 30px;
padding: 5px;
color:rgb(210, 248, 243);
height: 20vh;
box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
width:16vw;

}

.score{
    border: 1px solid rgb(0, 0, 0);
border-radius:10px; 
text-align: center;
font-size: 30px;
padding: 5px;
color:rgb(210, 248, 243);
height: 20vh;
box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
width:16vw;

}

.content{
    background-color:none;
     
border-radius:10px; 
text-align: center;
font-size: 30px;
padding: 5px;
width: 100px; 
color:whitesmoke;

 
 margin-left: 60px;  
 margin-top:20px;
}
.bruh{
    height:20h;
    /* border: 2px solid red; */
    margin-top: 5vh;
    width:100%;

    
    
}
.leader{
    margin-top: 7.5vh;
    height:35vh;
    /* border: 2px solid red; */
    width:100%;
}
.table{
    color:white;
    background-color: black;
    table-layout: fixed;
    border: transparent;
    border-collapse: collapse;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    width:60vw;
    margin-left: 20vw;
}
.r1{
    background-color: rgb(15, 15, 15);
}
.brd{
    border-radius:30px;
  }

.r2{
        background-color: rgba(3, 3, 3, 0.55);
    }
 
    .table-row{
        height:8.75vh;
        width:60vw;
        margin-left: 20vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
